<nav id="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/insert">Insert A Movie</a></li>
      <li><a href="/search">Search by Title</a></li>
      <li><a href="/select">Select from Incomplete Movies</a></li>
    </ul>
  </nav>