<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CRUD Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <nav id="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/insert">Insert A Movie</a></li>
        <li><a href="/search">Search by Title</a></li>
        <li><a href="/select">Select from Incomplete Movies</a></li>
      </ul>
    </nav>

    <h1>Search By Title</h1>

    <div id="flashes">

      <ul class="info">
      
       <li>Sorry no movies by that name.</li>
       
      </ul>
   
   </div>


    <form method="GET" action="/do-search">
      <label>Title: <input type="text" name="title"></label>
      <input type="submit" value="search"></p>
    </form>
    
    <script src="/main.js"></script>
</body>
</html>
