
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Update - CS304 CRUD Assignment</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/cs304node/crud/styles.css" />
  </head>
  <body>

        <nav id="navigation">
      <ul>
        <li><a href="/cs304node/crud/">Home</a></li>
        <li><a href="/cs304node/crud/insert">Insert A Movie</a></li>
        <li><a href="/cs304node/crud/search">Search by Title</a></li>
        <li><a href="/cs304node/crud/select">Select from Incomplete Movies</a></li>
      </ul>
    </nav>

    <div id="flashes">
    

    

</div>


    <div id="content">

    <h1>Update Movie</h1>

    <form method="POST" action="/cs304node/crud/update/1121231">
      <table>
          <tr><td>TT</td><td><%= tt %></td></tr>
        <tr>
          <td><label for="movieTitle">Title</label></td>
          <td>
              
              <input id="movieTitle"
                     name="movieTitle"
                     value="Hamlet">
          </td>
        </tr>
        <tr>
          <td><label for="movieRelease">Release year</label></td>
          <td>
              <input id="movieRelease"
                     name="movieRelease"
                     value="1948">
          </td>
        </tr>
          <tr>
              <td>Added By</td>
              <td>Caroline Chou</td>
          </tr>
        <tr>
          <td><label for="movieAddedby">Added by</label></td>
          <td>
              <input id="movieAddedby"
                     name="movieAddedby"
                     value="6">
          </td>
        </tr>
        <tr>
          <td><label for="movieDirector">Director ID</label></td>
          <td>
              <input id="movieDirector"
                     name="movieDirector"
                     value="">
          </td>
        </tr>
        <tr>
          <td>Director</td>
            <td>None specified</td>
        </tr>
      </table>
      <input type="submit" value="update">
    </form>

    <form method="POST" action="/cs304node/crud/delete/1121231">
      <input type="submit" value="delete 1121231">
    </form>

    </div>
        <!-- load local js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/cs304node/crud/main.js"></script>

  </body>
</html>
